@use '../configs/variaveis';
.live-hero {

    .image-text {
        
        &__img-fade-container {

            img {
                max-width: 70%;
                display: block;
            }

            &__fade {
                max-width: 70%;
            }
        }

        &__text-container {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            max-width: 50%;
            padding-right: 5.6vw;
        }
    }
}

.live-hero.image-text {
    position: relative;
}

@media (max-width: variaveis.$breakPointTablet) {
    .live-hero {

        .image-text {

            &__img-fade-container {

                img {
                    max-width: 100%;
                }

                &__fade {
                    max-width: 100%
                }
            }

            &__text-container {
                position: static;
                transform: none;
                max-width: none;
                padding-right: 0;
            }
        }
    }

    .live-hero.image-text {
        position: static;
    }
}
