
$corFundo: #141414;
$corTextoPrincipal: #f9f9f9;
$corTextoSecundario: #DCDCDD;
$corTextoTerciario: #57260e;

$corCard: #140b09;

$fontePrincipal: "Boldonse", system-ui;
$fonteSecundaria: "Poppins", sans-serif;

$breakPointMobile: 480px;
$breakPointTablet: 820px;